.nav {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    -webkit-filter: opacity(1px);
    -moz-filter: opacity(1px);
    -o-filter: opacity(1px);
    -ms-filter: opacity(1px);
    filter: opacity(1px);
}

.nav a img {
    width: 70px;
}

.button-border {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid white;
    width: 90px;
    color: white;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0);
}

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0px;
    width: 90px;
    color: white;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0);
}

.section {
    margin-top: -77px;
    padding: 0;
}

.home-img {
    width: 50%;
    max-height: 100%;
}

.agencia {
    position: relative;
    margin-top: -65%;
    margin-left: 50%;
    padding: 10px 30px 3px 30px;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);           
    font-size: 40px;    
    font-weight: 600;
    -webkit-filter: opacity(1px);
    -moz-filter: opacity(1px);
    -o-filter: opacity(1px);
    -ms-filter: opacity(1px);
    filter: opacity(1px);
}

.quero-um-evento {
    position: relative;
    margin-top: -51.5%;
    margin-right: 50%;
    width: 450px;
    padding: 10px 30px 3px 30px;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);       
    font-size: 40px;    
    font-weight: 600;
    -webkit-filter: opacity(1px);
    -moz-filter: opacity(1px);
    -o-filter: opacity(1px);
    -ms-filter: opacity(1px);
    filter: opacity(1px);
}

@media (max-width: 510px) {
    .home-img {
    }
  }

@media (max-width: 576px) {
  }
  
  @media (max-width: 900px) {
    .agencia {
        margin-top: -60%;    
        width: 150px;
        padding: 0 5px;      
        font-size: 24px; 
    }
    .quero-um-evento {
        margin-top: -51.5%;
        margin-right: 50%;
        width: 250px;
        padding: 0 5px;           
        font-size: 24px;    
        font-weight: 600;
    }
  }